h1 Customer

label(for="custName") What's your name?
  input(type="text" ng-model="eventDetails.customer.name" name="custName" required placeholder="Enter your first and last name")
  .error-msg(ng-messages="eventDetailsForm.custName.$error" ng-show="dd.submitCheck")
    div(ng-messages-include="app/error-messages.html")
    
label(for="custEmail") E-mail Address
  input(type="email" ng-model="eventDetails.customer.email" name="custEmail" required placeholder="Enter your e-mail address")
  .error-msg(ng-messages="eventDetailsForm.custEmail.$error" ng-show="dd.submitCheck")
    div(ng-messages-include="app/error-messages.html")
    
label(for="custPhone") Phone Number
  input(type="tel" ng-model="eventDetails.customer.phone" name="custPhone" required placeholder="Enter your telephone number")
  .error-msg(ng-messages="eventDetailsForm.custPhone.$error" ng-show="dd.submitCheck")
    div(ng-messages-include="app/error-messages.html")
    
label(for="notes") Any additional notes?
  textarea(rows="3" ng-model="eventDetails.customer.notes" name="notes" placeholder="Additional notes (optional)")
  