.row
  .small-12.columns
    h1 Venue Information

.row
  .small-12.medium-8.medium-offset-2.large-6.large-offset-3.columns.margin-bottom
    label(for="venueName")
      h2 Name of the venue
      input(type="text" ng-model="eventDetails.venueInfo.name" name="venueName" placeholder="Enter the name of the venue" required)
      .error-msg(ng-messages="eventDetailsForm.venueName.$error" ng-show="dd.submitCheck")
        div(ng-messages-include="app/components/error-messages/error-messages.html")
        
  .small-12.medium-8.medium-offset-2.large-6.large-offset-3.columns.margin-bottom  
    label(for="venueAddress")
      h2 Venue Address
      textarea(rows="3" ng-model="eventDetails.venueInfo.address" name="venueAddress" placeholder="Street Address, City, Zip and State" required)
      .error-msg(ng-messages="eventDetailsForm.venueAddress.$error" ng-show="dd.submitCheck")
        div(ng-messages-include="app/components/error-messages/error-messages.html")
        
  .small-12.medium-8.medium-offset-2.large-6.large-offset-3.columns.margin-bottom.end
    label(for="eventSize")
      h2 About how many people does it hold?
      select(ng-model="dd.eventInfo.eventSize" name="eventSize" required)
        option(selected="selected" disabled="disabled" value='') Number of Guests
        option(ng-repeat="eventSize in dd.sizeOptions" value="{{eventSize}}") {{eventSize}}
      .error-msg(ng-messages="eventDetailsForm.eventSize.$error" ng-show="dd.submitCheck")
        div(ng-messages-include="app/components/error-messages/error-messages.html")

div(nav-buttons)
  