.row
  .small-12.columns
    h1 Wedding Performances - Tell Us When To Play

.row.wedding
  .small-12.medium-8.medium-offset-2.large-6.large-offset-3.columns.margin-bottom
    input(type="checkbox" id="ceremonyTime" ng-model="dd.eventDetails.wedding.ceremony" name="ceremonyTime" value="Ceremony")
    label(for="ceremonyTime")
      h2 Ceremony
    .select-contain
      select(ng-if="dd.eventDetails.wedding.ceremony" name="ceremonyTime" ng-model="dd.eventDetails.wedding.ceremonyPlayTime" required)
        option(selected="selected" disabled="disabled" value="") How long will we be performing during the ceremony?
        option(ng-repeat="length in dd.eventLengthOptions" value="{{length}}") {{length}}
      .error-msg(ng-messages="eventDetailsForm.ceremonyTime.$error" ng-show="dd.submitCheck")
        div(ng-messages-include="app/components/error-messages/error-messages.html")
    .select-contain
      select(ng-if="dd.eventDetails.wedding.ceremony" name="ceremonySetup" ng-model="dd.eventDetails.wedding.ceremonySetup" required)
        option(selected="selected" disabled="disabled" value="") What band set up for the ceremony?
        option(ng-repeat="bandOption in dd.bandOptions" value="{{bandOption}}") {{bandOption}}
      .error-msg(ng-messages="eventDetailsForm.ceremonySetup.$error" ng-show="dd.submitCheck")
        div(ng-messages-include="app/components/error-messages/error-messages.html")

  .small-12.medium-8.medium-offset-2.large-6.large-offset-3.columns.margin-bottom
    input(type="checkbox" id="cocktailTime" ng-model="dd.eventDetails.wedding.cocktail" name="cocktailTime" value="Cocktail Hour")
    label(for="cocktailTime")
      h2 Cocktail Hour  
    .select-contain
      select(ng-if="dd.eventDetails.wedding.cocktail" name="cocktailTime" ng-model="dd.eventDetails.wedding.cocktailPlayTime" required)
        option(selected="selected" disabled="disabled" value="") How long will we be performing during cocktail hour?
        option(ng-repeat="length in dd.eventLengthOptions" value="{{length}}") {{length}}
      .error-msg(ng-messages="eventDetailsForm.cocktailTime.$error" ng-show="dd.submitCheck")
        div(ng-messages-include="app/components/error-messages/error-messages.html")
    .select-contain
      select(ng-if="dd.eventDetails.wedding.cocktail" name="cocktailSetup" ng-model="dd.eventDetails.wedding.cocktailSetup" required)
        option(selected="selected" disabled="disabled" value="") What band set up for the cocktail hour?
        option(ng-repeat="bandOption in dd.bandOptions" value="{{bandOption}}") {{bandOption}}
      .error-msg(ng-messages="eventDetailsForm.cocktailSetup.$error" ng-show="dd.submitCheck")
        div(ng-messages-include="app/components/error-messages/error-messages.html")
      
  .small-12.medium-8.medium-offset-2.large-6.large-offset-3.columns.margin-bottom
    input(type="checkbox" id="dinnerTime" ng-model="dd.eventDetails.wedding.dinner" name="dinnerTime" value="Dinner")
    label(for="dinnerTime")
      h2 Dinner
    .select-contain
      select(ng-if="dd.eventDetails.wedding.dinner" name="dinnerTime" ng-model="dd.eventDetails.wedding.dinnerPlayTime" required)
        option(selected="selected" disabled="disabled" value="") How long will we be performing during dinner?
        option(ng-repeat="length in dd.eventLengthOptions" value="{{length}}") {{length}}
      .error-msg(ng-messages="eventDetailsForm.dinnerTime.$error" ng-show="dd.submitCheck")
        div(ng-messages-include="app/components/error-messages/error-messages.html")
    .select-contain
      select(ng-if="dd.eventDetails.wedding.dinner" name="dinnerSetup" ng-model="dd.eventDetails.wedding.dinnerSetup" required)
        option(selected="selected" disabled="disabled" value="") What band set up for dinner?
        option(ng-repeat="bandOption in dd.bandOptions" value="{{bandOption}}") {{bandOption}}
      .error-msg(ng-messages="eventDetailsForm.dinnerSetup.$error" ng-show="dd.submitCheck")
        div(ng-messages-include="app/components/error-messages/error-messages.html")
    
  .small-12.medium-8.medium-offset-2.large-6.large-offset-3.columns.margin-bottom.end   
    input(type="checkbox" id="dancingTime" ng-model="dd.eventDetails.wedding.dancing" name="dancingTime" value="Dancing")
    label(for="dancingTime")
      h2 Dancing
    .select-contain
      select(ng-if="dd.eventDetails.wedding.dancing" name="dancingTime" ng-model="dd.eventDetails.wedding.dancingPlayTime" required)
        option(selected="selected" disabled="disabled" value="") How long will we be performing during dancing?
        option(ng-repeat="length in dd.eventLengthOptions" value="{{length}}") {{length}}
      .error-msg(ng-messages="eventDetailsForm.dancingTime.$error" ng-show="dd.submitCheck")
        div(ng-messages-include="app/components/error-messages/error-messages.html")
    .select-contain
      select(ng-if="dd.eventDetails.wedding.dancing" name="dancingSetup" ng-model="dd.eventDetails.wedding.dancingSetup" required)
        option(selected="selected" disabled="disabled" value="") What band set up for dancing?
        option(ng-repeat="bandOption in dd.bandOptions" value="{{bandOption}}") {{bandOption}}
      .error-msg(ng-messages="eventDetailsForm.dancingSetup.$error" ng-show="dd.submitCheck")
        div(ng-messages-include="app/components/error-messages/error-messages.html")

div(nav-buttons)