/* Prevent stupid behavior where placeholder only disappears when you start typing instead of on focus*/
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder,
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { 
  color: transparent; 
}

input.date:focus::-webkit-input-placeholder,
input.date:focus:-moz-placeholder,
input.date:focus:-ms-input-placeholder, { 
  color: black; 
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.main {
  padding-top: 10%;
}

input.date::-webkit-input-placeholder::before {
  content: '\f073   ';
  font-family: FontAwesome;
}

h1 {
  font-family: 'Montserrat';
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 30px;
  &.title {
    font-size: 2.75rem;
  }
}

label h2 {
  font-family: 'Montserrat';
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

a.button {
  font-family: 'Montserrat';
  color: white;
  background: rgba(0,0,0,0.3);
  border: 1px solid white;
  border-radius: 7px;
  padding: 20px 30px;
  text-transform: uppercase;
  margin-top: 50px;
  transition: background 0.3s ease-in-out;
  &:hover {
    background: rgba(69,138,203,0.8);
    transition: background 0.3s ease-in-out;
  }
}

a.button-text {
  font-family: 'Montserrat';
  padding: 20px 30px;
  text-transform: uppercase;
  color: white;
  margin-top: 50px;
}

.error {
  font-size: 10px;
  font-family: 'Montserrat';
  color: white;
  bottom: -23px;
  text-transform: uppercase;
  position: absolute;
  animation: BLINK 1s infinite;
}

.extra-info {
  font-size: 10px;
  font-family: 'Montserrat';
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 10px;
}

.wedding {
  label {
    h2 {
      display: inline-block;
      font-size: 1rem;
    }
  }
}

.select-contain {
  position: relative;
  margin-bottom: 10px;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  color: white; 
  font-size: 1.5rem;
}

input[type=checkbox] + label:before, input[type=checkbox]:checked + label:before,  { position: relative; top: 3px; }
input[type=checkbox] + label:before { content: "\f096"; letter-spacing: 10px; } /* space between checkbox and label */
input[type=checkbox]:checked + label:before { content: "\f046"; letter-spacing: 5px; } /* allow space for check mark */

@media #{$small-only} {
  h1.title {
    font-size: 1.6rem;
  }
}