@keyframes BLINK {
  0% { opacity: .5; }
  50% { opacity: 1}
  100% { opacity: .5; }
}

.progress-bar {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  .step {
    display: inline-block;
    margin-right: 10%;
    height: 70px;
    width: 70px;
    font-size: 30px;
    font-family: Georgia;
    line-height: 65px;
    border-radius: 50%;
    border: 1px solid white;
    background: rgba(0,0,0,0.3);
    opacity: .3;
    color: white;
    transition: opacity 0.3s ease-in-out;
    &:last-child {
      margin-right: 0;
    }
  }
  .current {
    opacity: 1;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
  }
  .hidden {
    display: none;
  }
}

@media #{$small-only} {
  .progress-bar {
    padding: 5% 0;
    .step {
      height: 50px;
      width: 50px;
      font-size: 25px;
      line-height: 45px;
    }
  }
}